section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }
  
  img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /* TODO: Add a margin property */
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    /* TODO: Add a padding property */
    padding: 10px 10px;
    /* TODO: Add a border property */
    border: 10px solid darkblue;
  }